{#{% extends '::base.html.twig' %}#}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        {% stylesheets 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Landing Page Generator</a>
        </div>
        {#<div id="navbar" class="navbar-collapse collapse">#}
        {#<form class="navbar-form navbar-right">#}
        {#<div class="form-group">#}
        {#<input type="text" placeholder="Email" class="form-control">#}
        {#</div>#}
        {#<div class="form-group">#}
        {#<input type="password" placeholder="Password" class="form-control">#}
        {#</div>#}
        {#<button type="submit" class="btn btn-success">Sign in</button>#}
        {#</form>#}

    </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
{% block body -%}
    <h1>SimpleLanding list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Templatename</th>
                <th>Templatetitle</th>
                <th>Templateh1</th>
                <th>Templatelead</th>
                <th>Templatebutton</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('simplelanding_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.templateName }}</td>
                <td>{{ entity.templateTitle }}</td>
                <td>{{ entity.templateH1 }}</td>
                <td>{{ entity.templateLead }}</td>
                <td>{{ entity.templateButton }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('simplelanding_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('simplelanding_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('simplelanding_download', { 'id': entity.id }) }}">download</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('simplelanding_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
