{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SimpleLanding</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Templatename</th>
                <td>{{ entity.templateName }}</td>
            </tr>
            <tr>
                <th>Templatetitle</th>
                <td>{{ entity.templateTitle }}</td>
            </tr>
            <tr>
                <th>Templateh1</th>
                <td>{{ entity.templateH1 }}</td>
            </tr>
            <tr>
                <th>Templatelead</th>
                <td>{{ entity.templateLead }}</td>
            </tr>
            <tr>
                <th>Templatebutton</th>
                <td>{{ entity.templateButton }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('simplelanding') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('simplelanding_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
